@using Time.Series.Anomaly.Detection.Data.Models;
@model MonitorSeries
@{
    ViewData["Title"] = "Preview " + Model.Name;
}

@section Scripts{
    <script type="text/javascript">
        const monitorSeriesId = @Model.ID;
    </script>
    <script src="~/js/monitor-series-preview.js" asp-append-version="true"></script>
}

<div class="card text-white bg-dark mb-3">
    <div class="card-header">Preview @Model.Name</div>
    <div class="card-body">
        <label class="form-label">Query</label>
        <div class="text-muted">@Model.Query</div>
        <label for="sensitivity-range" class="form-label">Sensitivity </label>
        <div id="lbl-sensitivity" class="text-muted">@Model.Sensitivity</div>
        <input type="range" class="form-range" id="sensitivity-range" min="1" max="100" value="@Model.Sensitivity">
        <hr />
        <div id="canvas-wrapper-single-@Model.ID" class="mt-4"></div>
    </div>
</div>
