@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var themeList = new List<string>()
    {
        "Cosmo", "Cyborg", "Darkly", "Default", "Lux", "Pulse", "Slate", "Solar", "Vapor"
    };
    var theme = HttpContextAccessor.HttpContext.Request.Cookies.TryGetValue("theme", out string val) ? val : "Cosmo";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Graylog2Grafana</title>
    <link rel="stylesheet" href="~/lib/bootstrap-5.0.2/css/bootstrap.@(theme).min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons-1.6.1/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Graylog2Grafana</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-md-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="themes">Theme <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            @{
                                foreach(var item in themeList)
                                {
                                    <a rel="noopener" class="dropdown-item theme-select-item" href="#" data-id="@item">@item</a>
                                }
                            }
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="themes">Notifications <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            <a rel="noopener" class="dropdown-item" href="@Url.Action("Edit", "NotificationSlack")">Slack</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="themes">@User.Identity.Name <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            @if (User.IsInRole("admin"))
                            {
                                <a rel="noopener" class="dropdown-item" href="@Url.Action("Index", "Users")">Users</a>
                                <div class="dropdown-divider"></div>
                            } 
                            <a rel="noopener" class="dropdown-item" href="@Url.Action("ResetPassword", "Account")">Change password</a>
                            <a rel="noopener" class="dropdown-item" href="@Url.Action("Logout", "Account")">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Graylog2Grafana
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/chartjs/chartjs.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
